


/* WORK ON CARD STYLING LATER*/
#mainCatsDiv{
  position: relative;
  top: 200px;
  left: 300px;
  width: 1000px;
  column-count: 4;
}

.catCard{
  width: 70%;
  height: 75%;
  text-align: center;
}

#catSearch{
  position: absolute;
  top: 150px;
  left: 650px;
}
